<launch>
  <arg name="namespace"               default="dynamixel_workbench"/>
  <arg name="is_loop"               default="false"/>
  <arg name="path"                    default="$(find dynamixel_as_adapter)/motion/ecoation_motion_demo.yaml"/>

  <param name="$(arg namespace)/trajectory_info" value="$(arg path)"/>

  <node name="joint_operator" pkg="dynamixel_workbench_operators" type="joint_operator"
        required="true" output="screen" ns="$(arg namespace)">
    <param name="is_loop" value="$(arg is_loop)"/>
  </node>
</launch>
